h3{
    font-size: 25px !important;
}
.btn-success:hover{
    background-color: darkgreen;
}
canvas {
    animation-name: naruto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes naruto{
    from{box-shadow: 1px 1px 38px cyan;}
    to{box-shadow : 1px 1px 38px rgb(134, 255, 134)}
}